body {
	background-color: #fefcf7;
}

h1 {
	color: #b47a65;
}

h2 {
	color: #2c3e50;
}

p {
	color: #3d5066;
}

.club-card {
	border: 1px solid #b47a65;
	border-radius: 5px;
	justify-content: center;
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
	width: calc((100% - 40px) / 3);
}

.club-list {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	flex-wrap: wrap;
	gap: 20px;
}

.current-book {
	margin-top: 30px;
	border: 1px solid #b47a65;
	border-radius: 5px;
	padding: 20px;
	max-width: 100%;
	text-align: left;
}

.upcoming-books {
	text-align: left;
	margin-top: 30px;
	padding: 20px;
}

.past-books {
	text-align: left;
	margin-top: 30px;
	padding: 20px;
}

.upcoming-meetings {
	border: 1px solid #849483;
	border-radius: 5px;
	text-align: left;
	margin-top: 30px;
	padding: 20px;
}

.buttonAdd {
	text-align: left;
}
.forms {
	text-align: left;
}
.forms input {
	display: block;
	margin-bottom: 10px;
}
