body {
	background-color: #fefcf7;
}

h1 {
	color: #b47a65;
}

h2 {
	color: #2c3e50;
}

p {
	color: #3d5066;
}

.club-card {
	background-color: #ffffff;
	border: 1px solid #e4dac8;
	border-radius: 8px;
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
	width: calc((100% - 40px) / 3);
	height: 250px;
	display: flex;
	gap: 12px;
	align-items: flex-start;
}

@media (max-width: 900px) {
	.club-card {
		width: calc((100% - 20px) / 2);
	}
}

@media (max-width: 600px) {
	.club-card {
		width: 100%;
	}
}

.club-card:hover {
	border: 1px solid #b47a65;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
	position: relative;
	top: -5px;
}

.club-list {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	flex-wrap: wrap;
	gap: 20px;
}

.current-book {
	margin-top: 30px;
	border: 1px solid #b47a65;
	border-radius: 5px;
	padding: 20px;
	max-width: 100%;
	text-align: left;
}

.upcoming-books {
	text-align: left;
	margin-top: 30px;
	padding: 20px;
}

.past-books {
	text-align: left;
	margin-top: 30px;
	padding: 20px;
}

.upcoming-meetings {
	border: 1px solid #849483;
	border-radius: 5px;
	text-align: left;
	margin-top: 30px;
	padding: 20px;
}

.buttonAdd {
	text-align: left;
}
.forms {
	text-align: left;
}
.forms input {
	display: block;
	margin-bottom: 10px;
}

.book-card {
	width: 90px;
	height: 130px;
	background-color: #849483;
	border-radius: 3px;
	flex-shrink: 0;
}

.club-card-info {
	text-align: left;
}
